.zip filter=lfs diff=lfs merge=lfs -text
.tar.gz filter=lfs diff=lfs merge=lfs -text
docs/html/cards/gwent_cards_de.tar.gz filter=lfs diff=lfs merge=lfs -text
docs/html/cards/gwent_cards_de.zip filter=lfs diff=lfs merge=lfs -text
docs/html/cards/gwent_cards_en.tar.gz filter=lfs diff=lfs merge=lfs -text
docs/html/cards/gwent_cards_en.zip filter=lfs diff=lfs merge=lfs -text
